.core-values {
    background-color: #0f1c34;
    color: #fff;
    padding: 100px 0;
}

.core-values p {
    font-size: 14px;
}

.value-card {
    background: rgba(15, 23, 42, 0.6);
    border: 1px solid rgba(148, 163, 184, 0.2);
    border-radius: 20px;
    padding: 35px 25px;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}

.value-card:hover {
    background: rgba(15, 23, 42, 0.9);
    transform: translateY(-6px);
}

.icon-box {
    width: 50px;
    height: 50px;
    background: rgba(220, 53, 69, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-box span {
    color: #dc3545;
    font-size: 26px;
}

.value-card h5 {
    font-weight: 600;
    margin-bottom: 12px;
}

.vision-mission-section {
    background: #f1f5f9;
    padding: 100px 0;
}

.vm-card {
    background: #ffffff;
    padding: 60px 40px;
    border-radius: 20px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.vm-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.icon-circle {
    width: 70px;
    height: 70px;
    background: rgba(220, 53, 69, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon-circle span {
    font-size: 32px;
    color: #dc3545;
}

.vm-card p {
    color: #6b7280;
    line-height: 1.7;
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.portfolio-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: 0.5s;
}

.portfolio-card:hover img {
  transform: scale(1.05);
}

.portfolio-card  .thumbnail-container {
 padding-bottom: 70%;
}

.portfolio-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    color: #fff;
    background: #0000008a;
    backdrop-filter: blur(7px);
}

.portfolio-card h4 {
  font-weight: 600;
}

.portfolio-card .overlay .badge {
  background: #ffffff;
  color: #e43b2f;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  backdrop-filter: blur(12px);
}

@media (max-width: 575px) {
    .portfolio-card  .thumbnail-container {
      padding-bottom: 110%;
    }
}